<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Testing GPL Editor 2"
            extensions="gpl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="test_plugin.editors.GPLEditor2"
            id="test_plugin.editors.GPLEditor2">
      </editor>
   </extension>

</plugin>
