<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="GPL Script (Majesty) Editor"
            extensions="gpl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="gpl_plugin.editors.GPLEditor"
            id="gpl_plugin.editors.GPLEditor">
      </editor>
   </extension>

</plugin>
